<div class="container">
  <div class="jumbotron">
    <h1>Bhargav Bachina</h1>
    <p>I am Software Architect working on various technologies and trying to solve problems.</p>
  </div>


  <accordion [isAnimated]="true">
    <accordion-group heading="Profile Information">
      <div class="row">
        <div class="col-md-6">
            Name:
        </div>
        <div class="col-md-6">
            First Last
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            Age:
        </div>
        <div class="col-md-6">
            99
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            Occupation:
        </div>
        <div class="col-md-6">
            blah blah blah
        </div>
      </div>
    </accordion-group>
    <accordion-group heading="Projects">
      <h1>Project 1</h1>
      <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah
        blah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah
        blah blahblah blahblah blahblah blahblah blahblah blahblah blah
      </p>
      <h1>Project 2</h1>
      <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah
        blah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah
        blah blahblah blahblah blahblah blahblah blahblah blahblah blah
      </p>
      <h1>Project 3</h1>
      <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah
        blah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah
        blah blahblah blahblah blahblah blahblah blahblah blahblah blah
      </p>
    </accordion-group>
    <accordion-group heading="Certifications">
      <p>Some content</p>
    </accordion-group>
    <accordion-group heading="Presentations">
      <p>Some content</p>
    </accordion-group>
  </accordion>

</div>